
body{
    background-color: #FFF3DC;
    font-family: sans-serif;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


/*------------------------------------------------------------ ESTILOS HEADER ---------------------------------------------------------------------*/

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D55039;
    min-height: 75px;
    padding: 10px;
    padding-right: 96px;
  
}

#contenedorPerfilCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

#contenedorPerfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contenedorPerfil:hover{
    text-decoration-line: underline;
    color: white;
}

#botonMiPerfil{
    border: none;
    background-color: #D55039;
    color: white;
    font-size: 20px;
}

#botonMiPerfil:hover{
    cursor: pointer;
}

#personitaPerfilImagen{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#imagenCarrito{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.buttonIngresar {
    min-height: 50px;
    min-width: 110px;
    background-color:#FFF3DC;
    color: #D55039;
    border-radius: 10px;
    border-color: #D55039;
    border-width: 3px;
}

.buttonIngresar:hover{
    background-color: #953A3A;
    color: #FFF3DC;
    cursor: pointer;
}

.barraBuscar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cajaBuscar{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
    text-align: left;
    border-radius: 5px;
    border-width: 0px;
}

.lineaBordo{
    display: flex;
    background-color: #953A3A;
    height: 12px;
    padding: 1px;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 96px;
}

#logoBSArriba{
    width:110px;
    min-height: 110px;
}

#arriba{                    /*BOTONES SUPERIORES DE HOME, PRODUCTOS Y CONTACTOS*/
    color: #FFF3DC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 66px;
}

.buttonA{
    background:none;
    border: none;
    color: #FFF3DC;
    text-align: center;
    font-style: inherit;
    font-size: 25px;
  }

/* ------------------------------------------ESTILOS TABLA PEDIDOS-------------------------------------------*/


#contenedorCentroPantalla{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

#contenedorTablaTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F0F0F0;
    padding-left: 35px;
    padding-right: 35px;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.227);
}

#contenedorTextoTabla{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#lineaDivisoriaTexto{
    display: flex;
    background-color: black;
    width: 2px;
    height: 50px;
}

#contenedorLineaDivisoriaHorizontal{
    display: flex;
    padding-bottom: 20px;
}

#lineaDivisoriaHorizontal{
    background-color: black;
    height: 2px;
    width: 1000px;
}

#tablaPedidosCliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    gap: 20px;
    background-color: white;
    padding-right: 20px;
}

.columnaTitulosCliente{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulosCliente{
    font-weight: bold;
    text-decoration: underline;
}

.nroPedido{
    display: flex;
    padding-left: 15px;
}

.textoProductoIngrediente{
    height: 10px;
    cursor: pointer;
}

#contenedorBotonesNuevoIngrediente{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

#botonTablaCocineroNuevo{
    background-color: #039900;
    color: white;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 95px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.227);
    cursor: pointer;
}

#botonTablaCocineroIngrediente{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 95px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.227);
    cursor: pointer;
}

#imagenBotonIngrediente{
    width: 15px;
    height: 10px;
}

#contenedorBotonesTablaCliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 13px;
    padding-right: 20px;
}

#contenedorBotonesTablaClienteDetalle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 13px;
}

.botonTablaCliente{
    background-color: #D9D9D9;
    border: none;
    border-radius: 12px;
    height: 35px;
    width: 85px;
    font-size: 15px;
}

.botonTablaClienteInvisible{
    background-color: white;
    border: none;
    border-radius: 12px;
    height: 35px;
    width: 85px;
    font-size: 15px;
}

.botonTablaCliente:hover{
    cursor: pointer;
}

.contenedorElementosCategorias{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.contenedorColumnaAcciones{
    height: 48px;
}
.imagenTablaCocinero{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#contenedorBotonesInferiores{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    gap: 30px;
}

#botonCancelar{
    background-color: #E45858;
    color: white;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 95px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.227);
    cursor: pointer;
}

#botonListo{
    background-color: #00BD13;
    color: white;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 95px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.227);
    cursor: pointer;
}

#botonTablaClienteVolver:hover{
    cursor: pointer;
}

/* ------------------------------------------ESTILOS FOOTER-------------------------------------------*/

.container{
    display: flex;
    justify-content: center;
    background-color: #D55039;
    flex-direction: column;
}

.lineaBordoFooter{
    height: 15px;
    background-color: #953A3A;
    justify-content: center;
    flex-direction: row; 
}

.lineaNegraFooter{
    height: 3px;
    background-color: #00000038;
    justify-content: center;
    flex-direction: row;
}

.button {
    background:none;
    border: none;
    color: #FFF3DC;
    text-align: center;
    font-style: inherit;
    font-size: 25px;
  }

  .buttonAb{
    font-size: 18px;
    margin: 15px 32px;
    cursor: pointer;
  }

  .buttonUp{
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  .buttonApp{
    font-size: 20px !important;
    cursor: pointer;
  }

.button:hover{
    color: white;
    text-decoration-line: underline;
  }

.texto{
    background:none;
    border: none;
    color: #FFF3DC;
    font-style: inherit;
    
}


/* ---------------------PARTE 1 (COLUMNA APPS, LOGO Y COLUMNA REDES SOCIALES)-------------------------------------------*/

.parte1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 96px;
    align-items: center;
}


/* ------------------------------------------CONTENEDOR APP-------------------------------------------*/

#APPcontainer{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#colTextoApp{
    display: flex;
    flex-direction: column;
    color: #FFF3DC;
    font-size: 14px;
    font-style: inherit;
}

#Apps{
    display: flex;
}

.imagePlay{
    width: 90px;
    height: 35px;
}

.imageApple{
    width: 90px;
    height: 35px;
}

/* ------------------------------------------CONTENEDOR LOGO-------------------------------------------*/

#logoBSFooter{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* ------------------------------------------CONTENEDOR REDES SOCIALES-------------------------------------------*/

#socialContenedor{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#imagenNombreContenedor{
    display: flex;
    flex-direction: column;
}

#instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#facebook{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageInsta{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.imageFace{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* -----------------------------------------PARTE 2 (BOTONES INFERIORES)-------------------------------------------*/

.parte2{
    margin-bottom: 1em;
}

#abajo{
    color: #FFF3DC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 66px;
    color: #FFF3DC;
}

@media (max-width:700px){       /*CUANDO LA PANTALLA SEA MENOR A 700PX LLAMA A MEDIA QUERY Y HACE:*/
    .header{
        flex-direction: column;
    }

    .parte1{
        flex-direction: column;
    }

    #arriba{
        padding: 10px;
    }

    #logo{
        padding-left: 10px;
    }

    .fondo{
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    #contenedorImagenesComida{
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    #contenedorImagenesInformacion{
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .container{
        align-items: center;
    }
}
