body{
    display: grid;
    min-height: 100vh;
    background-color: #FFF3DC;
}

.container{
    justify-content: center;
    background-color: #D55039;
    overflow: hidden;
    display: grid;
    flex-direction: column;
}

.container2{
    width: 1503px;
    height: 15px;
    background-color: #953A3A;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    left: 8px; 
    top: 531px;
}

.container3{
    width: 1503px;
    height: 3px;
    background-color: #00000038;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    left: 8px; 
    top: 528px;
}

.parte1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.parte2{
    margin-bottom: 1em;
}

.col{
    margin: 1em;
    padding: 1em;

}

#col1{
    position: absolute;
    left: 30px; 
    top: 87%; 
    transform: translateY(-50%); 
    color: #FFF3DC;
    font-size: 14px;
    font-style: inherit;
}

#col2{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    transform: translateX(-35%);
}

#col3{
    position: absolute;
    right: 70px; 
    top: 85%; 
    transform: translateY(-50%); 
    color: #FFF3DC;
    font-size: 14px;
    font-style: inherit;
}

#abajo{
    text-align: center;
    color: #FFF3DC;
}

.button {
    background:none;
    border: none;
    color: #FFF3DC;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-style: inherit;
  }

  .buttonAb{
    margin: 15px 32px;
    font-size: 14px;
  }

  .buttonUp{
    margin: 5px;
    font-size: 14px;
  }

  .buttonApp{
    font-size: 20px !important;
  }

.button:hover{
    color: black;
  }

footer{
    text-shadow: 0px 0px 10px rgb(146, 146, 146);
    margin-top: auto;
}

.texto{
    background:none;
    border: none;
    color: #FFF3DC;
    font-style: inherit;
}

.imageInsta{
    position: absolute;
    top: 625px;
    right: 180px;
    
}

.imageFace{
    position: absolute;
    top: 655px;
    right: 180px;
}

.imagePlay{
    position: absolute;
    top: 665px;
    left: 60px;
}

.imageApple{
    position: absolute;
    top: 666px;
    left: 160px;
}