body{
    display: grid;
    min-height: 100vh;
    background-color: #FFF3DC;
}

.logoBS{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1519px;
    height: 120px;
    background-color: #D55039;
    position: absolute;
    left: 0px; 
    top: 0px;
  
}

.lineaBordo{
    width: 1519px;
    height: 15px;
    background-color: #953A3A;
    position: absolute;
    left: 0px; 
    top: 120px;
}

#logo{
    transform: translateX(95px);
}

#arriba{
    text-align: center;
    color: #FFF3DC;
    transform: translateX(-745px);
}

.buttonA{
    background:none;
    border: none;
    color: #FFF3DC;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-style: inherit;
    margin: 15px 32px;
    font-size: 25px;
  }

.buttonA:hover{
    color: black;
  }

header{
    text-shadow: 0px 0px 10px rgb(146, 146, 146);
    margin-top: auto;
}